name: wintertale-services

services:
  auth:
    build: AuthServer/.
    container_name: wintertale-auth
    ports:
      - "5118:8080"
    environment:
      - POSTGRES_SERVER=Host=${POSTGRES_HOST};Port=5432;Database=wintertale;Username=postgres;Password=${POSTGRES_PASSWORD};SslMode=Require
      - RedisConnection=${REDIS_HOST}:6379,password=${REDIS_PASSWORD}
      - JWTKey=${JWTKey}
      - SMSRU_APIKEY=${SMSRU_APIKEY}
      - JWTLifetimeMinutes=${JWTLifetimeMinutes}
      - RefreshLifetimeDays=${RefreshLifetimeDays} 
    networks:
      - wintertale-network
    restart: unless-stopped

networks:
  wintertale-network:
    driver: bridge